<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/home.css">
    <!-- Notice that we have to use only css/filename for stylesheets because we used app.use(express.static('assets')) in index.js  -->
    <title>ToDo List</title>
</head>
<body>
    <div id="todo-container">
            <h1 id="app-heading">ToDo APP</h1>
        <form action="/submit-task" method="post">
            <div class="input-div">
                <label for="description"> <p>DESCRIPTION</p>
                    <input type="text" name="description" id="description" value="" placeholder="What do you need to do ?" required>
                </label>
            </div>
            <div class="input-div">
                <label for="category" class="label50"> <p>CATEGORY</p>
                    <select name="category" id="category">
                        <option value="" selected hidden>Choose a category</option>
                        <option value="personal">Personal</option>
                        <option value="work">Work</option>
                        <option value="school">School</option>
                        <option value="cleaning">Cleaning</option>
                        <option value="other">Other</option>
                    </select>
                </label>
                <label for="due_date" class="label50"> <p>DUE DATE</p>
                    <input type="date" name="due_date" id="due_date">
                </label>
            </div>
            <div class="btn-div">
                <button type="submit" id="add-btn"><i class="fas fa-plus"></i>ADD TASKS</button>
                <a href="/delete-task"><button type="button" id="delete-btn"><i class="fas fa-trash-alt"></i>DELETE TASKS</button></a>
            </div>
        </form>

        <ul>
            <% for(let i of tasks_list) { %>
                <li>
                    <label for=<%= i._id %>>
                        <input type="checkbox" class="toggle" id=<%= i._id %>>
                        <div class="task-list">
                            <p class="task-text"><%= i.description %></p>
                            <p class="task-date"><i class="far fa-calendar-alt"></i> 
                                <% if(i.due_date != null) { %>
                                <% let mydate = new Date(i.due_date); %><%= mydate.toDateString() %>
                                <% } else { %>
                                    No Deadline
                                <% } %>
                            </p>
                        </div>
                    </label>
                    <% if(i.category.length >0) {%>
                    <button class= <%= i.category %> > <%= i.category %></button>
                    <% } %>
                </li>
                <% } %>
            </ul>
    </div>
</body>
</html>